body {
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    display: flex;

}

h1{
    font-size: 25px;
}
label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

textarea {
    box-sizing: border-box;
    min-height: 200px;
    overflow-x: hidden;
    /* for Firefox (issue #5) */
    border-radius: 20px;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px !important;
}



.container {
    display: flex;
    flex-wrap:  wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0;
}


.component_item {
    background-color: rgba(238, 235, 235, 0.973) !important;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    text-align: left;
}
.render_item {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    text-align: left;
}

.card {
    box-shadow: 3px 5px 30px -1px rgba(0, 0, 0, 0.44);
}

.custom-control{
   font-size: 20px;
   display: flex;
   align-items: center;
}

#submit_form{
    width: 300px;
}
/* form editor*/
#component_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 500px;
}

#render_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 500px;
}
#add_button{
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid black;    
    color: white;
    font-size: 20px;
}
#add_button > i {
    display: none;
}

#add_button > #add_icon {
    display: inline;
}

#add_button:hover{
    border-radius: 20px;
    width: 100%;
    background: none;
    background-color: whitesmoke;
}

#add_button:hover >h1{
   display: none;
}

#add_button:hover >i{
    color: black;
    display: inline;
 }

 #add_button:hover > #add_icon{
     display:none;
 }

 #add_button:hover >i:hover{
      color: gray;
 }

#form_list{
   height: 50px;
   width: 50px;
   background-color: gainsboro;
   transition: width 1s;
   align-items: center;
   margin-top: 50vh;
   margin-left: -40px;
   box-shadow: 3px 5px 30px -1px rgba(0, 0, 0, 0.44);
   position: fixed;
   z-index: 2;
}

#form_list:hover{
    height: auto;
    max-height: 100vh;
    width: 300px;
    margin-left: 0;
    align-items: flex-start;
    background-color: gainsboro;
    margin-top: 0;
 }

#form_list > i{
    font-size: 20px;
 }
 #form_list:hover > i{
    display:none;
 }
#form_list > .list-group{
    display: none;
    transition: all 2s;
}

#form_list:hover > .list-group{
    display: block;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.choice > input{
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 40%;
    margin-left: 10px;

}

@media only screen and (max-width: 500px) {
    
    #component_container {
        width: 80vw;
    }
    #render_container {
        width: 80vw;
    }
    #form_list:hover{
        z-index: 2;
        position: fixed;
        width: 80vw;
     }
}