


<div class="row mt-5 mb-5">
  <div class="col-md-10 col-sm-15">
    <div class="card card-body" id="submit_form">
      <h1 class="text-center mb-3">
        <i class="fa fa-cog" aria-hidden="true"></i> Requirement Editor
      </h1>
      <% include ./partials/messages %>
      <form action="/form_editor" method="POST">
        <div class="form-group">
          <label for="sectionname">Name</label>
          <input type="text" id="sectionname" name="sectionname" class="form-control" placeholder="Enter name"
            value="<%= typeof sectionname != 'undefined' ? sectionname : '' %>" />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" name="description" class="form-control" placeholder="Enter description"
            value="<%= typeof description != 'undefined' ? description : '' %>" />
        </div>
        <div class="form-group">
          <label for="total">Total requirement</label>
          <input type="number" id="total" name="total" class="form-control"
            value="<%= typeof total != 'undefined' ? total : 1 %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <div class="card card-body">
        <h1 id="section_name" class="text-center mb-3">
          <i class="fa fa-book" aria-hidden="true"></i> Form Editor
        </h1>
        <h3 class="ml-3"><span id="status" class="badge badge-secondary">UNSAVED</span></h3>
        <hr>
        <div id="message_container"></div>
        <div id="component_container">
        </div>
        <div id="render_container">
        </div>
        <div class="d-flex justify-content-center">
        <div id="add_button" class="btn btn-success">
          <i id="add_icon" class="fa fa-plus" aria-hidden="true"></i>
          <i class="fa fa-font" aria-hidden="true" onclick="addItem('Text')"></i>
          <i class="fas fa-align-justify" onclick="addItem('Long text')"></i>
          <i class="fa fa-calculator" aria-hidden="true" onclick="addItem('Number')"></i>
          <i class="fa fa-list" aria-hidden="true" onclick="addItem('Choices')"></i>
          <i class="fas fa-calendar-alt" onclick="addItem('Date')"></i>
          <i class="fas fa-image" onclick="addItem('Images')"></i>
          <i class="fa fa-file" aria-hidden="true" onclick="addItem('File')"></i>
        </div>
        </div>
        <hr>
        <button id="save_button" class="btn btn-success btn-block" onclick="">Save</button>
        <button id="preview_button" class="btn btn-secondary btn-block" onclick="preview(this)">Preview</button>
      </div>
    </div> 
  </div>
</div>

