<% let i = 1; sections.forEach((section)=>{ %>
<div class="section border-radius-all shadow-drop-br">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <h4 class="card-title"><%=section.name %></h4>
        <p class="card-text" style="font-family:'Times New Roman', Times, serif; font-size: 25px; color:black;"><%=i*2%></p>
        <% include ./partials/components/FFD %>
    </div>
   
</div>
<% i++; }); %>
