<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Occupational Medicine Khon Kaen University</title>
    <link rel="shortcut icon" href="/asset/mdkkuicon.ico" type="image/x-icon">
</head>
<body> <%- body %>
    <script src="/public/script/utility/notification.js"></script>
</body>
<footer>
    <a href="https://www.facebook.com/occmedkku/"><i class="fab fa-facebook" href=""> Facebook</i></a>
    <p>หากมีปัญหาขัดข้องโปรดติดต่อ<br>ronnakorn_d@kkumail.com หรือ โทร. 087-2622098</p>
</footer>

</html>