<ul class="breadcrumb">
        <li>
          <a href="#">
            <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
            <span class="text">Item</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
            <span class="text">Section</span>
          </a>
        </li>
        <li>
          <a href="#" onclick="home()">
            <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
          </a>
        </li>
</ul>