
<div class="card section">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <h4 class="card-title"><%=section.name%></h4>
        <p class="card-text">25/50</p>
        <% include ./FFD %>
    </div>
</div>

